<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <style type="text/css">
      .bold
      {
        font-weight: bold;
      }
      td,th
      {
        text-align:center;
      }
  </style>
</head>

<body ng-app="myApp" ng-controller="locationCtrl">

  <div class="container mt-5">
    <div class="row mb-5">
    <div class="col-md-3">
         <label class="bold">Address:</label>
    <input type="text" class="form-control" id="Address" placeholder="Enter Address" name="Address" 
    ng-model="Address" ng-change="getAddress(Address)">
    </div>

   <div class="col-md-3">
        <label class="bold">Longitude:</label>
    <input type="tex" class="form-control" id="Longitude" placeholder="Enter Longitude" name="Longitude"
    ng-model="Longitude" ng-change="getLongitude(Longitude)">
   </div>

    <div class="col-md-3">
      <label class="bold">Latitude:</label>
    <input type="text" class="form-control" id="Latitude" placeholder="Enter Latitude " name="Latitude"
    ng-model="Latitude" ng-change="getLatitude(Latitude)">  
    </div>


    <div class="col-md-3 mt-4" >
                 <button  class="btn btn-primary mt-1" ng-click="send(Address,Latitude,Longitude);clearCash()">Submit</button>

    </div>


<!-- Map -->
  <div class="mt-5" id="map1" style="height:400px;width:100%;"></div>
  </div>
<!-- map-->

<!--<div class="table-responsive mt-5">
<table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>

        <th>Text</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeate="i in locationlist">
        <td>{{i.text}}</td>
        <td>{{i.longitude}}</td>
        <td>{{i.latitude}}</td>
          <td>{{i.address}}</td>
      </tr>
  

    </tbody>
  </table>

</div>-->


</div>



 
 

<script>


var app = angular.module('myApp', []);
app.controller('locationCtrl', function($scope, $rootScope,$http) {
console.log("Hello!");




/** Get all Location**/
 $http({
            method: 'GET',
            url:'https://almacfufin.herokuapp.com/api/admin/location',
       
             
             headers: {'Content-Type': 'application/json'
     
    }
            
        }).then(function (response) {
          console.log(response.data);
          $scope.locationlist=response.data.publicLocations;
         
 
            $scope.FillData($scope.locationlist);
            

            }, function (response) { 


        });
      

/** Get all Location End**/


$scope.Arr=[];
console.log($scope.Obj);
$scope.send=function(a,b,c)
{
/*** Test **/



/**Test End**/
/**my json**/
    var obj = angular.copy({text:a,latitude:b,longitude:c,address:""});
    $scope.Arr.push(obj);


console.log($scope.Arr);

$scope.publicLocations = JSON.stringify($scope.Arr);
console.log($scope.publicLocations );


/**my json**/

/** Request **/

    $http({
        method: 'post',
        url:'https://almacfufin.herokuapp.com/api/admin/location',
        data:$scope.publicLocations,
         
        headers: {'Content-Type': 'application/json'}
            
    }).then(function (response) {
      console.log(response.data);
      /** Get All Again**/


   $http({
        method: 'GET',
        url:'https://almacfufin.herokuapp.com/api/admin/location',
   
         
        headers: {'Content-Type': 'application/json'}
            
        }).then(function (response) {
          console.log(response.data);
          $scope.locationlist=response.data.publicLocations;
          
                        console.log($scope.locationlist);


                }, function (response) {
            console.log(response.data);


        });


          /** Get All Again End**/

                    }, function (response) {
                console.log(response.data);


        });

/** Request End **/

}

$scope.clearCash=function()
{
         $scope.Address="";
         $scope.Latitude=""; 
         $scope.Longitude=""; 
}



/***Their Code***/

 $scope.FillData=function(locations)
 {
    $scope.markers = [];
    var Dubai = { lat:33.2048, lng: 36.5555 };

    var map = new google.maps.Map(document.getElementById('map1'), {
        zoom: 10,
        center: Dubai,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    //Center two map at user location
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };

            map.setCenter(pos);  
        },
        function () {}, { timeout: 5000 }); 
    }

    var prev_infowindow = false;

    for(i=0; i<$scope.locationlist.length; i++)
    {

        var markerlatLng = new google.maps.LatLng($scope.locationlist[i].latitude, $scope.locationlist[i].longitude); 
        var name = $scope.locationlist[i].text;
        var content = '<b>Title: </b>' + $scope.locationlist[i].text ;



        var marker = new google.maps.Marker({
            position: markerlatLng,
            title: name,
            map: map
        });

        $scope.markers.push(marker);
        var infowindow = new google.maps.InfoWindow({
            content: content
        });

        google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
            return function () {

                if (prev_infowindow) {
                    prev_infowindow.close();
                }

                prev_infowindow = infowindow;
                infowindow.setContent(content);
                infowindow.open(map,marker);
            };
        })(marker,content,infowindow));
    }


    // Add a marker clusterer to manage the markers.
    var markerCluster = new MarkerClusterer(map, $scope.markers,
     { imagePath: '../Content/map/m'  });

 }


/**Their Code End**/
});


</script> 

<script src="../Content/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBl4Pzqz_A5zt10KpJI4urZPothek-Y2a8&callback=initMap"
            async defer></script>


</body>
</html>